.git
.gitignore
.env.example
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
tests
.phpunit.result.cache
README.md
docker-compose.yml
Dockerfile
.editorconfig

